.PlayerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.SimulationResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.DamageProfileGraph {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    background-color: #DBE2EF;
}

.Summary {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.BestTeammateGraph {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    background-color: #3F72AF;
}