.SkillLogTableContainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 20px;
    border: 1px solid #000;
}

.SkillEntity {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 10px;
    border: 1px solid #000;
}

.CombatTime {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 10%;
    margin: 10px;
}

.SkillIconEntity {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 20%;
    margin: 10px;
}